In [24]:
import pandas as pd
from os.path import join
from os import makedirs
from tqdm import tqdm

In [2]:
df_path = '/Users/akhildevarashetti/code/covid_research/nitin_2022/Data/Updated Data/mobility/Google/Global_Mobility_Report.csv'
output_dir = '/Users/akhildevarashetti/code/covid_research/nitin_2022/Data/Updated Data/mobility/Google/split'

In [5]:
# ! mkdir "/Users/akhildevarashetti/code/covid_research/nitin_2022/Data/Updated Data/mobility/Google/split"

In [6]:
df = pd.read_csv(df_path)

/var/folders/qz/8lxmcg3s6ls7rqr51bjgj4080000gp/T/ipykernel_18015/2810494364.py:1: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(df_path)

In [7]:
df.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

In [8]:
df.country_region.value_counts()

United States       2511994
Brazil              1960411
India                649545
Turkey               536074
Argentina            411307
                     ...
Malta                   974
Kazakhstan              974
Papua New Guinea        971
Guinea-Bissau           949
Liechtenstein           898
Name: country_region, Length: 135, dtype: int64

In [12]:
# States
df.sub_region_1.value_counts()

State of São Paulo            361280
State of Minas Gerais         257096
Texas                         185210
State of Paraná               151299
State of Rio Grande do Sul    149239
                               ...
Jēkabpils Municipality             3
Baldone Municipality               2
Salacgrīva Municipality            2
Wajir County                       2
Krimulda Municipality              1
Name: sub_region_1, Length: 1860, dtype: int64

In [13]:
# County
df.sub_region_2.value_counts()

Washington County    26372
Jefferson County     21673
Franklin County      20665
Jackson County       18877
Lincoln County       17862
                     ...
Ontonagon County         3
Nome                     2
Real County              1
Lyman County             1
Wheeler County           1
Name: sub_region_2, Length: 9914, dtype: int64

In [17]:
df['country_state'] = df.country_region + "|" + df.sub_region_1
df['country_state_county'] = df.country_region + "|" + df.sub_region_1 + "|" + df.sub_region_2

In [18]:
dfs_country = dict(tuple(df.groupby('country_region')))
dfs_country_state = dict(tuple(df.groupby('country_state')))
dfs_country_state_county = dict(tuple(df.groupby('country_state_county')))

In [23]:
# Save country data
for country, d in tqdm(dfs_country.items()):
    makedirs(join(output_dir, country), exist_ok=True)
    d.to_csv(join(output_dir, country, f'{country}.csv'))

In [25]:
# Save country_state data
for country_state, d in tqdm(dfs_country_state.items()):
    country, state = country_state.split('|')
    makedirs(join(output_dir, country, state), exist_ok=True)
    d.to_csv(join(output_dir, country, state, f'{country}__{state}.csv'))

100%|██████████| 1872/1872 [01:02<00:00, 30.12it/s]

In [28]:
# Save country_state data
for country_state_county, d in tqdm(dfs_country_state_county.items()):
    country, state, county = country_state_county.split('|')
    makedirs(join(output_dir, country, state), exist_ok=True)
    county = county.replace('/', ' or ')
    d.to_csv(join(output_dir, country, state, f'{country}__{state}__{county}.csv'))

100%|██████████| 11204/11204 [00:57<00:00, 196.08it/s]